* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #afafaf;
}

a {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 100vh;
  background-color: #000000;
  border-color: #fff;
  padding: 2rem 1.625rem 2.5rem;
  transition: 0.5s;
  z-index: 1000;
  border-radius: 0 20px 20px 0;
  box-shadow: 6px 4px 30px 0px rgba(119, 109, 109, 0.25);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_toggle {
  position: absolute;
  top: 2.75rem;
  right: -1rem;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 5px;
  font-size: 0.875rem;
  border-color: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.nav_toggle:hover {
  background-color: #575757;
}

.nav_list {
  padding-left: 0;
}

.nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  padding-left: 0;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}

.nav_icon {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.nav_link:hover {
  background-color: #363636;
  color: #fff;
  text-decoration: none;
}

.nav_link i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav_text {
  font-weight: 500;
  padding-left: 0.5rem;
}

.profil {
  display: flex;
  align-items: center;
  color: #afafaf;
  align-items: stretch;
}

.profil_img {
  width: 30px;
}

.profile_desc a {
  color: #afafaf;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.profile_desc a:hover {
  color: #fff;
  text-decoration: none;
}

.show {
  width: 250px;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}
